---
import BaseLayout from '../layouts/BaseLayout.astro';
import Cta from '../components/Cta.astro';
import {pricingOptions} from '../data/waterHeaterPricing.ts';
import natDraftGroup from '../assets/images/wh-natDraftGroup.png';
import powerVentGroup from '../assets/images/wh-powerVentGroup.png';
import tanklessGroup from '../assets/images/wh-tanklessGroup.png';
import hybridGroup from '../assets/images/wh-hybridGroup.png';

const imageMap = {
	natDraftGroup,
	powerVentGroup,
	tanklessGroup,
	hybridGroup
};
---

<section class="px-6 pt-8 sm:pt-20 text-base-content text-center max-w-4xl mx-auto">
	<h1 class="text-4xl sm:text-5xl font-bold mb-6 tracking-tight">Water Heater Replacement Pricing</h1>
	<p class="text-xl max-w-2xl mx-auto mb-4">Transparent prices with no surprises. Prices include:</p>
	<div class="mb-12 px-6 max-w-4xl mx-auto">
		<div class="grid md:grid-cols-2 gap-x-12 gap-y-2  text-left">
			<ul class="space-y-2 list-disc pl-6">
				<li>No hidden fees</li>
				<li>Complete installation</li>
				<li>All parts and labor</li>
				<li>All utility connections</li>
				<li>All venting materials</li>
				<li>Permit and inspection</li>
			</ul>
			<ul class="space-y-2 list-disc pl-6">
				<li>Startup, setup & testing</li>
				<li>1 Yr Parts & Labor Warranty</li>
				<li>Full Equipment Warranties (vary by make and model—avg 5–12 years)</li>
				<li>Disposal of old water heater</li>
				<li>Thorough cleanup</li>
			</ul>
		</div>
	</div>

	<div class="grid gap-10 sm:grid-cols-2">
		{pricingOptions.map(option => (
			<div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col w-full max-w-md mx-auto">
				<img src={imageMap[option.image].src} alt={option.title} class="w-full h-48 object-contain rounded-lg mb-4" />
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">{option.title}</h2>
					<p class="text-3xl sm:text-4xl font-bold text-primary">{option.price}</p>
					<p class="text-lg font-bold text-primary mb-4">Installed</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-1 mb-6">
						{option.features.map(feature => (
							<li>{feature}</li>
						))}
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock mr-2">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Book Now</p>
				</a>
				<a href={`/products/${option.slug}`} class="btn btn-outline text-lg h-fit py-2 flex items-center mx-auto mt-4 text-center">
					Learn More
				</a>
			</div>
		))}
	</div>

	<p class="text-sm text-gray-500 mt-6">*Venting, electrical and gas line upgrades are where we run into the largest price changes but most requirements can usually be clarified via video call or home visit.</p>
	<p class="text-sm text-gray-500 my-6">Final price is always provided by email or text before work begins.</p>
</section>

<Cta />
