---
// src/pages/pricing.astro
import Layout from '../layouts/Layout.astro';
import Cta from '../components/Cta.astro';
import natDraftGroup from '../assets/images/wh-natDraftGroup.png';
import powerVentGroup from '../assets/images/wh-powerVentGroup.png';
import tanklessGroup from '../assets/images/wh-tanklessGroup.png';
import hybridGroup from '../assets/images/wh-hybridGroup.png';
---
	<section class="px-6 pt-8 sm:pt-20 text-base-content text-center max-w-4xl mx-auto">
		<h1 class="text-4xl sm:text-5xl font-bold mb-6 tracking-tight">Water Heater Replacement Pricing</h1>
		<p class="text-xl max-w-2xl mx-auto mb-4">Transparent prices with no surprises. Prices include:</p>
		<div class="mb-12 px-6 max-w-4xl mx-auto">
			<div class="grid md:grid-cols-2 gap-x-12 gap-y-2  text-left">
				<ul class="space-y-2 list-disc pl-6">
					<li>No hidden fees</li>
					<li>Complete installation</li>
					<li>All parts and labor</li>
					<li>All utility connections</li>
					<li>All venting materials</li>
					<li>Permit and inspection</li>
				</ul>
				<ul class="space-y-2 list-disc pl-6">
					<li>Startup, setup & testing</li>
					<li>1 Yr Parts & Labor Warranty</li>
					<li>Full Equipment Warranties (vary by make and model—avg 5–12 years)</li>
					<li>Disposal of old water heater</li>
					<li>Thorough cleanup</li>
				</ul>
			</div>
		</div>

		<!-- price cards -->
		<div class="grid gap-10 sm:grid-cols-2">

			<div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col">
				<img src={natDraftGroup.src} alt="natural draft water heater" class="w-full h-48 object-contain rounded-lg mb-4">
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">40-Gallon Standard Tank Water Heater (Gas or Electric)</h2>
					<p class="text-4xl font-bold text-primary mb-4">$1,475 Installed</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-0 mb-6">
						<li>Standard replacement in same location</li>
						<li>Removal & disposal of old tank</li>
						<li>All required utility connections (water, gas, venting, electric)*</li>
						<li>All work to code, with permit</li>
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Schedule Virtual Estimate</p>
				</a>
			</div>

			<div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col">
				<img src={natDraftGroup.src} alt="natural draft water heater" class="w-full h-48 object-contain rounded-lg mb-4">
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">50-Gallon Standard Tank Water Heater (Gas or Electric)</h2>
					<p class="text-4xl font-bold text-primary mb-4">$1,675 Installed</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-1 mb-6">
						<li>Standard replacement in same location</li>
						<li>Removal & disposal of old tank</li>
						<li>All required utility connections (water, gas, venting, electric)*</li>
						<li>All work to code, with permit</li>
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Schedule Virtual Estimate</p>
				</a>
			</div>

			<div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col">
				<img src={powerVentGroup.src} alt="natural draft water heater" class="w-full h-48 object-contain rounded-lg mb-4">
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">40-Gallon Gas Power Vent Tank Water Heater</h2>
					<p class="text-4xl font-bold text-primary mb-4">$1,995 Installed</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-0 mb-6">
						<li>Standard replacement in same location</li>
						<li>Removal & disposal of old tank</li>
						<li>All required utility connections (water, gas, venting, electric)*</li>
						<li>All work to code, with permit</li>
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Schedule Virtual Estimate</p>
				</a>
			</div>

			<div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col">
				<img src={powerVentGroup.src} alt="natural draft water heater" class="w-full h-48 object-contain rounded-lg mb-4">
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">50-Gallon Gas Power Vent Tank Water Heater</h2>
					<p class="text-4xl font-bold text-primary mb-4">$2,095 Installed</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-1 mb-6">
						<li>Standard replacement in same location</li>
						<li>Removal & disposal of old tank</li>
						<li>All required utility connections (water, gas, venting, electric)*</li>
						<li>All work to code, with permit</li>
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Schedule Virtual Estimate</p>
				</a>
			</div>

            <div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col">
				<img src={tanklessGroup.src} alt="natural draft water heater" class="w-full h-48 object-contain rounded-lg mb-4">
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">Tankless Water Heater</h2>
					<p class="text-4xl font-bold text-primary mb-4">Starting at $2,500</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-1 mb-6">
						<li>Standard replacement in same location</li>
						<li>Removal & disposal of old unit</li>
						<li>All required utility connections (water, gas, venting, electric)*</li>
						<li>All work to code, with permit</li>
						<li>Price varies based on existing setup and requirements</li>
						<li>Tankless systems may require additional venting, gas, or electrical upgrades</li>
						<li>Home visit required if upgrading from a tank to tankless water heater (due to additional equipment requirements)</li>
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Schedule Virtual Estimate</p>
				</a>
			</div>

			<div class="bg-base-100 border border-base-300 rounded-xl shadow-md p-4 sm:p-8 text-left flex flex-col">
				<img src={hybridGroup.src} alt="natural draft water heater" class="w-full h-48 object-contain rounded-lg mb-4">
				<div class="flex-grow">
					<h2 class="text-2xl font-semibold mb-2">Heat Pump Water Heater</h2>
					<p class="text-4xl font-bold text-primary mb-4">Starting at $2,600</p>
					<ul class="list-disc list-inside text-left text-sm leading-relaxed space-y-1 mb-6">
						<li>Standard replacement in same location</li>
						<li>Removal & disposal of old unit</li>
						<li>All required utility connections (water, gas, venting, electric)*</li>
						<li>All work to code, with permit</li>
						<li>Price varies based on existing setup and requirements</li>
						<li>Heat pump systems may require additional venting, gas, or electrical upgrades</li>
						<li>Home visit required if upgrading from a tank to heat pump water heater (due to additional equipment requirements)</li>
					</ul>
				</div>
				<a href="#schedule-estimate/" class="btn btn-primary text-lg h-fit py-2 flex items-center mx-auto text-center">
					<svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width={2} stroke-linecap="round" stroke-linejoin="round"
						class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-clock">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
						<path d="M16 3v4" />
						<path d="M8 3v4" />
						<path d="M4 11h10" />
						<path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
						<path d="M18 16.5v1.5l.5 .5" />
					</svg>
					<p class="w-full">Schedule Virtual Estimate</p>
				</a>
		</div>

		<p class="text-sm text-gray-500 mt-6">*Venting, electrical and gas line upgrades are where we run into the largest price changes but most requirements can usually be clarified via video call or home visit.</p>
		<p class="text-sm text-gray-500 my-6">Final price is always provided by email or text before work begins.</p>
	</section>
	<Cta />
